.event-filters {
background-color: rgba(79, 108, 132, 0.31);
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.4rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  position: sticky;
  top: 0;
  z-index: 999;
  background: #C5D9E8;

}

.event-filters input,
.event-filters select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-icon {
  margin-right: 5px;
}

.event-filters input[name="search"] {
  width: 300px;
}

.search-wrapper input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-wrapper button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.search-wrapper button:hover{
background-color: #1e3a8a;
}




