# --------------------
# Yarn PnP
# --------------------
.pnp
.pnp.js

# --------------------
# Frontend coverage / test output
# --------------------
/coverage

# --------------------
# Frontend environment files
# --------------------
.env.local
.env.development.local
.env.test.local
.env.production.local
