.footer {
background-color: #98BAD6;
color: black;
padding: 2rem;
font-family: sans-serif;
}

.footer-top {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 2rem;
}

.footer-sections {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 3rem;
margin-top: 2rem;
}

.footer-sections h3 {
font-size: 1.2rem;
margin-bottom: 0.5rem;
}

.footer-sections li{
list-style: none;
margin-top: 0.5rem;
}

.footer-sections a{
text-decoration: none;
color: black;
}

.footer-sections a:hover {
  text-decoration: underline;
}

.footer-sections button {
  margin-top: 0.5rem;
  padding: 0.2rem 0.3rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

.pages_newsletter input {
  padding: 0.4rem;
  margin-right: 0rem;
  border: 1px solid #ccc;
}

.pages_newsletter button {
  padding: 0.4rem 0.8rem;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
  border: 1px solid black;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  font-size: 0.9rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  font-size: 2rem;
}














