.event-section{
background: rgba(152, 186, 214, 0.3);
}


.event-section h2 {
  font-size: 2.3rem;
  margin-left: 3rem;
  margin: 0.5rem;
}

.event-section p{
font-size: 1.2rem;
margin-left: 0.5rem;
}



