.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.slider-window {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}


.slider-card {
  min-width: calc(100% / 3); /* 3 cards */
  padding: 0 10px;
  box-sizing: border-box;
}

.slider-arrow {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 5;
  border-radius: 6px;
  transition: 0.2s ease;
}

.slider-arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.slider-arrow:hover:not(:disabled) {
  background: rgba(0, 0, 0, 0.8);
}

.slider-arrow.left {
  margin-right: 1rem;
}

.slider-arrow.right {
  margin-left: 1rem;
}
